*{
  font-family: "Inter Tight",sans-serif;
  background-color: white;
  color: black;
}




body{
  margin: 0;
  padding: 0;
}

#overlay{
z-index: 2;
position: fixed;
width: 100vw;
display:none;
height: 100vh;
top: 0;
backdrop-filter: blur(1.5px);
background-color: rgba(255, 255, 255, 0);
}

#loginform{
  border-radius: 20px;
  width: 300px;
  height: 350px;
  box-shadow: 0px 0px 10px  rgb(218, 218, 218);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close{
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 10px  rgb(218, 218, 218);
  outline: 0;
  border: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 15px;
  cursor: pointer;

}

.notepage{
 
  translate: 0 -40px;
}


.app{
  margin: 0;
  padding: 0;

}

.topbar{
  position: fixed;
  top: 0px;
  width: 100%;
  align-items: center;
  background-color: black;
  height: 40px;
  display: flex;
  z-index: 2;

}

.title{
  color: white;
  background-color: black;
  
  font-weight: 900;
  width: auto;
  margin: 0 auto;
}

#user{
  background-color: rgb(0, 0, 0);
  height: 70%;
  translate: -10px;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;

}

#user:hover, #menu:hover{
  background-color: rgb(63, 63, 63);
}


#menu{
  background-color: black;
  height: 70%;
  translate: 10px;
  transition: 0.2s ease;
  border-radius: 5%;
  padding: 2px;
}

.adder{
  position: relative;

}
.addbutton{
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 10px  rgb(218, 218, 218);
  outline: 0;
  border: 0;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 15px;
  cursor: pointer;

  
}

.headinginput{

  border: 0;
  outline: 0;
  width: 250px;
}
.notesinput{
 border: 0;
 outline: 0;
 width:100%;
 min-height: 200px;
 height: 200px;

}

.heading {
font-weight: 900;
font-size: large;
text-overflow: ellipsis;
overflow: hidden;

}

.notebox{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainapp{
  padding: 10px;
  display:inline-grid;
  grid-template-columns: repeat(3,1fr);
  
}

.notes{
  width:90%;
  height: 80%;
  padding: 5px;
  padding-top: 15px;
  font-size: large;
  margin: 0 auto;
  color: rgb(100, 100, 100);
  overflow-y:scroll;
  scrollbar-width: none;
  overflow-wrap: break-word;

}






.boxy{
  width:300px;
  height: 300px;
  margin-top: 0px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px  rgb(218, 218, 218);
  z-index: 1;
  
}

@media  (width < 1050px) {
  .mainapp{
    grid-template-columns: repeat(2,1fr);
  }}

@media  (width < 730px) {
    .mainapp{
      grid-template-columns: repeat(1,1fr);
    }}
  

.blue{
position: fixed;
z-index: 0;

bottom:0px;
width: 1000px;
background-color: rgba(255, 255, 255, 0);
transform: rotateX(180deg);
}


.red{
position: fixed;
z-index: 0;
transform: rotateX(180deg);
background-color: rgba(255, 255, 255, 0);
width: 1000px;
left: -300px;
top: 0px;

}


